:root {
    --ct-color-host-accent: #FFA601 !important;
    
    /* Theme color */
    --pf-global--primary-color--100: #fdc55d !important;
    --pf-global--primary-color--200: #FFA601 !important;
    --pf-global--warning-color--100: #eea0d3 !important;
    --pf-global--warning-color--200: #D35FAA !important;
}

.login-note {
    color: transparent;
    position: relative;
}

body.login-pf {
    background-position: 0% 50%;
    background: linear-gradient(45deg, #3c4250 5%, #0E1119 25%, black 40%, black 60%, #0E1119 85%);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#badge {
    width: 200px;
    height: auto;
    background-image: url("MarkWebR.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#brand {
    max-width: 100%;
    font-size: 18pt;
    color: #0E1119;
}

#index-brand {
    font-weight: bold;
}

#brand:before {
    content: "Element<b>OS</b> ";
}

#brand:after {
    color: #FFA601;
    content: "Compute Engine";
}

#index-brand:before {
    content: "Element<b>OS</b> ";
}

#index-brand:after {
    color: #FFA601;
    content: "Compute Engine";
}
